# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
db.sqlite3
data/
db/

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

data/mysql/localhost/mysql.sock
.idea/inspectionProfiles/profiles_settings.xml
data/mysql/localhost/573db/db.opt
data/mysql/localhost/auto.cnf
data/mysql/localhost/ib_buffer_pool
